.box {
    display: block;
    margin: 1rem;
}

.card {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text {
    display: block;
    margin-left: 1rem;
}

.switch {
    display: block;
    margin-left: auto;
}